#main{
    background-color:  rgb(249, 245, 203);
    padding: 30px   
}
#intro{
    margin: 10px 0px;
}
#content{
    Border: solid 4px rgb(231, 227, 38);
    background-color: beige;
    padding: 20px;
    color: rgb(72, 72, 72)
}
#content > div{
    Margin: 15px 0px;
}
#quote{
    padding-left 36px;
}
#quote_citation{
    padding-left 26px;
}
#footer{
    margin: 10px 0px;
}
