body{
    margin: 0px;
}

nav {
    background-color:forestgreen;
    position: sticky;
    top:0px;
}
nav ul{
    margin: 0px;
    padding: 0px;
    text-align:center;
}
nav ul li{
    padding:50px;
    display: inline;
    font-size : 24 px;
}
p {
    height: 500px;
    width: 600px;
    margin:24px;
}
